body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-----------------------------------
    NAVBAR
-------------------------------------*/
.navbar {
    margin: 0;
    padding: 0;
}
.navbar-brand {
    flex-basis: 40%;
    font-size: 40px;
}
.navbar-collapse {
    flex-basis: 60%;
}
.navbar-nav {
    display: block;
    float: right;
}
.nav-item {
    float: left;
    padding-left: 20px;
    font-size: 20px;
}

/*-----------------------------------
    BLOCK WITH FORM postS
-------------------------------------*/
.myForm {
    padding: 30px 0px 60px 0px;
}
.button-group {
    float: right;
}
.btn-secondary {
    width: 100px;
    margin-right: 20px;
}




